html,
body {
    background-image: url("../images/160912-levisau-3085-jpg.jpg");
    background-repeat: repeat
}
#title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin-bottom: 50px;
    color:purple;    

}
#tourDates{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: aqua;

}




img{
  height: 400px;
  width: 400px;

}

#bandsInfo-Area{
  margin-left: 10px;
  width: 210px;
  height: 100px;
  font-family: 'Courier New', Courier, monospace

}
#tourDatesInfo-Area{
  margin-left: 900px;
  margin-bottom: 30px;
  font-family: 'Courier New', Courier, monospace;
  
}
